#page {
	width: 1000px;
	margin: 0 auto;
}

.scoreBar {
	background-color: #965BED;
	height: 30px;
	position: relative;
	font-size: 25px;
	font-weight: bold;
	padding-left: 5;
	vertical-align: middle;
	padding-top: 5;
	border: white;
	margin: 0 0 3px 0;
	min-width: 240px;
	color: white;
}

.scoreBar:hover {
	background-color: #AC7DF2;
	height: 30px;
	position: relative;
	font-size: 25px;
	font-weight: bold;
	padding-left: 5;
	vertical-align: middle;
	padding-top: 5;
	border: white;
	margin: 0 0 3px 0;
	min-width: 240px;
	color: white;
}

.scoreLine{
	display:inline;
	min-width: 100%;
}

.leaderboard{
	min-width: 100%;
}

.scoreName{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline;
	position: absolute;
	left: 80px;
	width: 50%
}

.place{
	display: inline; 
	color: #000000;
	min-width:25px;
}

.scoreNumber{
	display: inline; 
	float: right;
	padding-right: 5px;
	padding-top: 2px;
	color: white;
}

.medalContainer {
	display: inline;
}


.goldMedalAmountBubble {
	width: 20px;
	height: 20px;
	box-shadow: 1px 1px 1px gray;
	background-color: gold;
	color: black;
	font-weight: bold;
	font-size: 14px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    line-height: 23px;
}

.silverMedalAmountBubble {
	width: 20px;
	height: 20px;
	box-shadow: 1px 1px 1px gray;
	background-color: silver;
	color: black;
	font-weight: bold;
	font-size: 14px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	line-height: 23px;
}

.bronzeMedalAmountBubble {
	width: 20px;
	height: 20px;
	box-shadow: 1px 1px 1px gray;
	background-color: #CD7F32;
	color: black;
	font-weight: bold;
	font-size: 14px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	line-height: 23px;
}
